<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Project 3A</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="javascripts/map.js"></script>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <% var now = new Date(); var now = now.toString().slice(0,25) %>
    <h1>Where Can I Park?</h1>
    <div id="mapid"></div>
    <h4>Carpark availability as of <%= now %><button class="get-data btn btn-primary">REFRESH DATA</button></h4>
    <h4>Want data on other carparks? Let's ask the government to <a href="https://www.facebook.com/URASingapore/?fref=ts">share</a> the data!</h4>
  </body>
</html>
