body {
  font-family: 'Noto Sans'
}

.animate {
  animation: bubble1-h-movement 1s ease-in infinite, bubble1-v-movement 300ms ease-in-out infinite alternate, bubble-scale-movement 300ms ease-in-out infinite alternate;
}

form {
  margin-left: 30px;
  position: absolute;
  z-index: 1
}

.searchbar {
  padding-top: 10px
}

.search {
  padding:8px 15px;
  width: 100%
}
.button {
  position:relative;
  border:2px solid #0E5DA2;
  background-color:#0E5DA2;
  color:#fafafa;
  padding: 7px 15px;

}
.button:hover  {
  background:#428bca;
  border:2px solid #428bca;
  transition: 0.2s
}

.popup {
  height: 50px;
  background: #0E5DA2;
  opacity: 0.7;
  margin-top: -2px
}

h4.popup {
  font-size: 2em;
  opacity: 1;
  color: white;
  padding: 10px
}

#mapid {
  height: 100%
}

div.bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 10px;
  font-weight: 1em
}

.dropdown:hover .dropdown-menu {
    display: block;
}

li.dropdown {
  display: inline;
  list-style: none;
  background: white;
  padding:12px;
}

.columns {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:4;
  width: 80%;
  height:250px;
  overflow-y: scroll;
}

@media only screen and (max-width: 480px) {

  /*h1 {
    font-size: 6em
  }*/

  .columns {
    /*height: 1000px;*/
    overflow-y: scroll;
    column-count: 1 ;
  }
}
